{% extends 'index_project_details.html' %}>
{% load static %}
{% block title %} Network {% endblock title %}

{% block content %}

{% block messages %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
      {% if roadnetwork %}
        <h5 style="text-align: center;">Network name : {{roadnetwork.name}}</h5>
  			<hr>
        <div class="#">
          <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'roadtype' roadnetwork.pk %}">Create Road Type</a>
          <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_road' roadnetwork.pk %}">Import Road Type</a>
        </div>

        <div class="#">
          <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_node' roadnetwork.pk %}">Import Node</a>
    	  <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_edge' roadnetwork.pk %}">Import Edge</a>
          <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'delete_nodes' roadnetwork.pk %}">Remove Node</a>
    	  <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'delete_roads_types' roadnetwork.pk %}">Remove Road types</a>
        </div>
		

        {% elif zoneset %}
  			<h5>Zone set name : {{zoneset.name}}</h5>
  			<hr>
    		<a class="btn btn-outline-info  btn-sm btn-block"
            	href="{% url 'update_zoneset' zoneset.pk %}">Update zone set</a>
            <a class="btn btn-outline-info  btn-sm btn-block"
           href="{% url 'upload_zone' zoneset.pk %}">Upload zones</a>
	

        {% elif od_matrix %}
    		<h5 style="text-align: center;">OD matrix name : {{od_matrix.name}}</h5>
    		<hr>
      		<a class="btn btn-outline-info  btn-sm btn-block"
              href="{% url 'update_od_matrix' od_matrix.pk %}">Update OD matrix</a>
            <a class="btn btn-outline-info  btn-sm btn-block"
             href="{% url 'upoload_od_pair' od_matrix.pk %}">Upload OD Pair</a>


		{% elif population %}
		   <h5 style="text-align: center;">Population: {{population.name}}</h5>
		   <hr>
		   <a class="btn btn-outline-info  btn-sm btn-block"
			href="{% url 'update_population' population.pk %}">Update population</a>
		   <a class="btn btn-outline-info  btn-sm btn-block"
			href="{% url 'create_population_segment' population.pk %}">Create Popluation Segment</a>
		   <a class="btn btn-outline-info  btn-sm btn-block"
			href="{% url 'add_agent'  population.pk %}">Add agent</a>
		   <a class="btn btn-outline-info  btn-sm btn-block"
			href="{% url 'upload_agent'  population.pk %}">Upload agent</a>
		   <a class="btn btn-outline-info  btn-sm btn-block"
			href="{% url 'generate_agent'  population.pk %}">Generate agent</a>

		{% elif network %}
			<h5>Network name : {{network.name}}</h5>
			<hr>
		    <a class="btn btn-outline-info  btn-sm btn-block"
		  		href="{% url 'update_network2' network.pk %}">Update network</a>
			<a class="btn btn-outline-info  btn-sm btn-block"
		 		href="{% url 'upload_zone_node_relation' network.pk %}">Zone Node Relation</a>

		{% elif run %}
			<h5>Run name : {{run.name}}</h5>
			<hr>
				<a class="btn btn-outline-info  btn-sm btn-block"
					href="#">Update run</a>
				<a class="btn btn-outline-info  btn-sm btn-block"
					href="{% url 'generate_run_input' run.pk %}">Generate Input</a>

       {% endif %}
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5 style="text-align: center; ">Owner Information</h5>
			<hr>
			<p style="text-align: center;">Name: {{user.username}}<br>
        	Email: {{user.email}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
        {% if roadnetwork %}
        <h5 style="text-align: center;">Network attributes</h5>
  			<hr>
  			<p style="text-align: center;">Number of Nodes : {{total_nodes}}<br>
            Number of Edges : {{total_edges}} </p>

        {% elif zoneset %}
  			<h5 style="text-align: center;">Zone set attributes</h5>
  			<hr>
  			<p>Zone set tag : {{zoneset.tags}}<br>
  			Zone set comment : {{zoneset.comment}} </p>

        {% elif od_matrix %}
    		<h5 style="text-align: center;">OD matrix attributes</h5>
    		<hr>
    		<p>OD matrix tag : {{od_matrix.tags}}<br>

		{% elif population %}
			<h5 style="text-align: center;">Population attributes</h5>
			<hr>
			<p>Population tag : {{population.tags}}<br>
			Population comment: {{population.comment}} </p>
		
		{% elif network %}
			<h5 style="text-align: center;">Network attributes</h5>
			<hr>
			<p>Network tag : {{network.tags}}<br>
			Network comment: {{network.comment}} </p>

		{% elif run %}
			<h5 style="text-align: center;">Network attributes</h5>
			<hr>
			<p>Run tag : {{run.tags}}<br>
			Run comment: {{run.comment}} </p>

        {% endif %}
		</div>
	</div>
	<hr>
</div>

{% if tasks %}
<div class="row">
	<h5>// Last Tasks</h5>
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Start date</th>
						<th>Description</th>
						<th>Instance</th>
						<th>Status</th>
						<th>Time taken</th>
                        <th>Details</th>
					</tr>
				</thead>

				<tbody>
					{% for task in tasks %}
                    <tr id="row-task-{{ task.id }}">
                        {% include 'views/task.html' %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}

{% if roadnetwork %}
<a href="{% url 'project_details' roadnetwork.project_id %}">Back</a>
{% elif zoneset %}
<a href="{% url 'project_details' zoneset.project_id %}">Back</a>
{% elif od_matrix %}
<a href="{% url 'project_details' od_matrix.project_id %}">Back</a>
{% elif preferences %}
<a href="{% url 'project_details' preferences.project_id %}">Back</a>
{% elif population %}
<a href="{% url 'project_details' population.project_id %}">Back</a>
{% elif network %}
<a href="{% url 'project_details' network.project_id %}">Back</a>
{% elif parameter_set %}
<a href="{% url 'project_details' parameter_set.project_id %}">Back</a>
{% elif run %}
<a href="{% url 'project_details' run.project_id %}">Back</a>
{% elif network %}
<a href="{% url 'project_details' network.project_id %}">Back</a>
{% endif %}

<script src="{% static '/js/refresh_tag.js' %}"></script>
<script>
    {% for task in tasks %}
    {% if task.status == task.INPROGRESS %}
    refreshTag("{% url 'fetch_task' task.id %}", "#row-task-{{ task.id }}", 1000);
    {% endif %}
    {% endfor %}
</script>

{% endblock %}
