{% extends 'index_project_details.html' %}>
{% block title %} Network {% endblock title %}

{% block content %}
{% block messages %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
      {% if roadnetwork %}
        <h5>Network name : {{roadnetwork.name}}</h5>
  			<hr>
  			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'roadtype' roadnetwork.pk %}">Create Road Type</a>
        <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_road' roadnetwork.pk %}">Import Road Type</a>
  			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_node' roadnetwork.pk %}">Import Node</a>
  			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_edge' roadnetwork.pk %}">Import Edge</a>

        {% elif zoneset %}
  			<h5>Zone set name : {{zoneset.name}}</h5>
  			<hr>
    			<a class="btn btn-outline-info  btn-sm btn-block"
            href="{% url 'create_zoneset' zoneset.project.pk %}">Create zone set</a>
          <a class="btn btn-outline-info  btn-sm btn-block"
           href="{% url 'upload_zone' zoneset.pk %}">Import zone</a>

          {% elif od_matrix %}
    			<h5>OD matrix name : {{od_matrix.name}}</h5>
    			<hr>
      			<a class="btn btn-outline-info  btn-sm btn-block"
              href="{% url 'create_od_matrix' od_matrix.project.pk %}">Create OD matrix</a>
            <a class="btn btn-outline-info  btn-sm btn-block"
             href="{% url 'upoload_od_pair' od_matrix.pk %}">Import OD Pair</a>

      {% endif %}
		</div>

	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Owner Information</h5>
			<hr>
			<p>Name: {{user.username}}</p>
			<p>Email: {{user.email}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
      {% if roadnetwork %}
        <h5>Network attributes</h5>
  			<hr>
  			<p>Number of Nodes : {{total_nodes}}</p>
  			<p>Number of Edges : {{total_edges}} </p>

      {% elif zoneset %}
  			<h5>Zone set attributes</h5>
  			<hr>
  			<p>Zone set tag : {{zoneset.tags}}</p>
  			<p>Zone set comment : {{zoneset.comment}} </p>

        {% elif od_matrix %}
    			<h5>OD matrix attributes</h5>
    			<hr>
    			<p>OD matrix tag : {{od_matrix.tags}}</p>
    			<p>OD matrix comment: {{od_matrix.comment}} </p>

      {% endif %}
		</div>
	</div>
	<hr>
	<br>
  {% if roadnetwork %}
  <a href="{% url 'project_details' roadnetwork.project_id %}">Back</a>
  {% endif %}
</div>

{% endblock %}
