{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


	{% if 'network' in request.get_full_path %}
		<h4> Creating a  Network </h4>

	{% elif 'zoneset' in request.get_full_path %}
		<h4> Creating a Zone set </h4>

	{% elif 'odmatrix' in request.get_full_path %}
		<h4> Creating an OD matrix </h4>

	{% elif 'roadtype' in request.get_full_path %}
		<h4> Creating a roadtype </h4>

	{% elif 'vehicle' in request.get_full_path %}
		<h4> Adding vehicle </h4>

	
	{% elif 'preferences' in request.get_full_path %}
		<h4> Adding preferences </h4>

	{% elif 'psegment' in request.get_full_path %}
		<h4>Creating a population segment</h4>
	
	{% elif 'population' in request.get_full_path %}
	<h4> Creating a population </h4>

	{% elif 'project' in request.get_full_path %}
		<h4> Creating a project </h4>

	{% endif %}

	<hr>
	<form class="" action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
		<div class="mb-3">
			{{form|crispy}}
			<button type="submit" class="btn btn-success" name="button">Create</button>
		</div>
	</form>

	{% for message in messages %}
		<li>{{message}}</li>
	{% endfor %}

{% endblock %}
