{% extends 'index_project_details.html' %}
{% block title %} Network {% endblock title %}

{% block content %}
<br>
{% block messages %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Network name : {{roadnetwork.name}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'roadtype' roadnetwork.pk %}">Create Road Type</a>
      <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_road' roadnetwork.pk %}">Import Road Type</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_node' roadnetwork.pk %}">Import Node</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_edge' roadnetwork.pk %}">Import Edge</a>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Owner Information</h5>
			<hr>
			<p>Name: {{user.username}}</p>
			<p>Email: {{user.email}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Network attributes</h5>
			<hr>
			<p>Number of Nodes : {{total_nodes}}</p>
			<p>Number of Edges : {{total_edges}} </p>
		</div>
	</div>
	<hr>
	<br>
	<p>Next details coming ...</p>
	<p>Results ...</p>
	<p>Results ...</p>
	<p>Results ...</p>
	<p>Results ...</p>
	<a href="{% url 'project_details' roadnetwork.project_id %}">Back</a>
</div>

<br>

{% endblock %}
