{% extends 'base.html' %}

{% block title %} Project {% endblock title %}

{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5 style="text-align: center;">Project name : {{project.name}}</h5>
			<hr>
			<div class="">
				<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_project' project.pk %}">Update project</a>
				<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_network' project.pk %}">Create Network</a>
			</div>
			<div class="">
				<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_zoneset' project.pk %}">Create Zone Set</a>
				<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_od_matrix' project.pk %}">Create OD matrix</a>
			</div>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5 style="text-align: center;padding: 0px">Owner Information</h5>
			<hr>
			<p style="text-align: center;">Name: {{user.username}}<br>
				Email: {{user.email}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5 style="text-align: center;">Total Networks</h5>
			<hr>
			<h1 style="text-align: center;">{{total_roadnetworks}}</h1>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5 style="text-align: center;"">Total Zone Sets</h5>
			<hr>
			<h1 style=" text-align: center;padding: 0px">{{total_zonesets}}</h1>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5 style="text-align: center;">Total OD Matrix</h5>
			<hr>
			<h1 style="text-align: center;padding: 0px">{{total_od_matrix}}</h1>
		</div>
	</div>
</div>

<!---div class="row">
	<div class="col-md">
		<div class="card card-body">
			<form class="roadnetwork-filter" method="get" enctype="multipart/form-data"> {% csrf_token %}
				{{filter.form}}
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
	</div>
</div--->

{% if tasks %}
<div class="row">
	<h5>// Last Tasks</h5>
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Start date</th>
						<th>Description</th>
                        <th>Instance</th>
						<th>Status</th>
						<th>Time taken</th>
                        <th>Details</th>
					</tr>
				</thead>

				<tbody>
					{% for task in tasks %}
					<tr>
						<td>{{task.start_date}}</td>
						<td>{{task.description}}</td>
                        <td>
                        {% if task.road_network %}
                        Road network: {{ task.road_network }}
                        {% endif %}
                        </td>
                        <td>{{task.get_status}}</td>
                        <td>{% if task.time_taken %}{{task.time_taken}}{% endif %}</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#taskModal{{ task.id }}">
                                Details
                            </button>
                        </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<h5>// Network attributes</h5>
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Network name</th>
						<th>Locked</th>
						<th>Abstract network</th>
						<th>Comment</th>
						<th>Tags</th>
						<th>Date created</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					{% for roadnetwork in roadnetworks %}
					<tr>
						<td><a class="btn btn-sm btn-danger" href="{% url 'network_details' roadnetwork.pk %}">details</a></td>
						<td>{{roadnetwork.name}}</td>
						<td>{{roadnetwork.locked}}</td>
						<td>{{roadnetwork.simple}}</td>
						<td>{{roadnetwork.comment}}</td>
						<td>{{roadnetwork.tags}}</td>
						<td>{{roadnetwork.date_created}}</td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'update_network' roadnetwork.pk %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_network' roadnetwork.pk %}">Remove</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<br>
<div class="row">
	<h5>// Zone set attributes</h5>
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Locked</th>
						<th>Zone set name</th>
						<th>Comment</th>
						<th>Tags</th>
						<th>Date created</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					{% for zoneset in zonesets %}
					<tr>
						<td><a class="btn btn-sm btn-danger" href="{% url 'zoneset_details' zoneset.pk %}">details</a></td>
						<td>{{zoneset.locked}}</td>
						<td>{{zoneset.name}}</td>
						<td>{{zoneset.comment}}</td>
						<td>{{zoneset.tags}}</td>
						<td>{{zoneset.date_created}}</td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'update_zoneset' zoneset.pk %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_zoneset' zoneset.pk %}">Remove</a></td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>

<br>
<div class="row">
	<h5>// Origin Destination matrix</h5>
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Project</th>
						<th>Locked</th>
						<th>Zone set</th>
						<th>Name</th>
						<th>Comment</th>
						<th>Tags</th>
						<th>Date created</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					{% for od_matrix in od_matrix %}
					<tr>
						<td><a class="btn btn-sm btn-danger"
						 href="{% url 'od_matrix_details' od_matrix.pk %}">details</a></td>
						<td>{{od_matrix.project}}</td>
						<td>{{od_matrix.locked}}</td>
						<td>{{od_matrix.zone_set}}</td>
						<td>{{od_matrix.name}}</td>
						<td>{{od_matrix.comment}}</td>
						<td>{{od_matrix.tags}}</td>
						<td>{{od_matrix.date_created}}</td>
							<td><a class="btn btn-sm btn-danger"
								href="{% url 'update_od_matrix' od_matrix.pk %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger"
								href="{% url 'delete_od_matrix' od_matrix.pk %}">Remove</a></td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
	<a href="{% url 'home' %}">Back</a>
</div>

{% for task in tasks %}
<div class="modal fade" id="taskModal{{task.id}}" tabindex="-1" aria-labelledby="taskModalLabel{{task.id}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel{{task.id}}">{{ task.description }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <dl class="row">
              <dt class="col-sm-3">Start date</dt>
              <dd class="col-sm-9">{{ task.start_date }}</dd>

              <dt class="col-sm-3">Status</dt>
              <dd class="col-sm-9">{{ task.get_status }}</dd>

              {% if task.time_taken %}
              <dt class="col-sm-3">Time taken</dt>
              <dd class="col-sm-9">{{ task.time_taken }}</dd>
              {% endif %}

              {% if task.result %}
              <dt class="col-sm-3">Result</dt>
              <dd class="col-sm-9">{{ task.result | linebreaks }}</dd>
              {% endif %}
          </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
