{% extends 'index_project_details.html' %}>
{% block title %} Network {% endblock title %}

{% block content %}
{% block messages %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Zone set name : {{zoneset.name}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block"
        href="{% url 'create_zoneset' zoneset.project.pk %}">Create zone set</a>
      <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'upload_zone' zoneset.pk %}">Import zone set</a>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Owner Information</h5>
			<hr>
			<p>Name: {{user.username}}</p>
			<p>Email: {{user.email}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Zone set attributes</h5>
			<hr>
			<p>Zone set tag : {{zoneset.tags}}</p>
			<p>Zone set name : {{zoneset.comment}} </p>
		</div>
	</div>
	<hr>
	<br>
	<p>Next details coming ...</p>
	<p>Results ...</p>
	<p>Results ...</p>
	<p>Results ...</p>
	<p>Results ...</p>

</div>

<br>

{% endblock %}
