.filter{
  position: absolute;
  right: 0px;
  margin: 10px;
}

.filter input, button{
  border: 3px solid #ccc;
}

.col-2{
  width: 285px;

}

.table th{
  background-color: #198754!important; /* #CC0000;*/
  color:white;
}

.table th a{
  color:white;
  text-decoration: none;
}

h5 a{
  text-decoration: none;
  color: black;
}

/* RoadNetwork filtering in project details page */
.roadnetwork-filter input{
  border: 3px solid #ccc;
  width: 300px;
}

.roadnetwork-filter{
  display: inline;
}
/*
label[for="id_name"]{
  display: none;
}*/
