.tree{
  font-family: arial;
  font-size: 22px;
  width:max-content;
  height: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}


.tree table{
	border : 2px solid black;
  text-align: center;
  border-collapse: separate;
	}
	
.tree th, .tree td {
	border : 1px solid green;
	/*padding-top : 35px;*/
  height: 100px;
  text-align: center;
  width: 210px;
  
	}

.tree a:hover{
  background-color: aqua;
  opacity: 0.6;
}

.nav-item{
  color: white;
  opacity: 1;
}