{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <h3>Import node data file </h3>
  <hr>
  <p>A Node is an element of the road-network graph, representing an
    intersection or an origin / destination point.</p>

  <h4>Attributes</h4>
  <ul>
    <li><strong>network</strong> RoadNetwork: RoadNetwork instance the Node belongs to.
      The first argument "RoadNetwork" indicate the relationship model.</li>
    <li><strong>user_id</strong> int: Id of the node, as used by the users in the import files.
      Must be unique for a specific RoadNetwork.</li>
    <li><strong>name</strong> str: Name of the node (default is '').</li>
    <li><strong>location</strong> Point: Point representing the location of the node on the
     network, in EPSG:4326.</li>
  </ul>

  {% include 'networks/upload.html' %}
{% endblock %}
