{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <h3>Import zone file </h3>
  <hr>
  <h4>Attributes</h4><br>
  <dfn><strong>Point</strong> or area representing the origin or destination of agents.
    <strong>Zones</strong> can be defined in two ways :</dfn>
    <ul>
      <li>As a circle, with a given center and radius (zero for points).</li>
      <li>As an area defined by a polygon.</li>
    </ul>

  <ul>
    <li><strong>zone_id </strong>int: Id of the zone, as used by the users in the import files.
     Must be unique for a specific <strong>ODMatrix</strong>.</li>
    <li><strong>zone_set</strong> ZoneSet: ZoneSet instance the zone belongs to. </li>
    <li><strong>centroid</strong>Point: Center point of the circle or centroid of the area.</li>
    <li><strong>geometry</strong> Polygon: Polygon representing the zone, if it is an area.</li>
    <li><strong>radius</strong> float: Radius of the zone in meters, if it is a circle. </li>
    <li><strong>name</strong> str: Name of the zone (default is '').</li>
  </ul>

  {% include 'networks/upload.html' %}
{% endblock %}
