{% extends parent_template %}
{% load crispy_forms_tags %}

{% block title %} Update {% endblock title %}

{% block content %}

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h6>Update</h6>
      <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          {{form|crispy}}
        <input type="submit" name="" value="Update">
      </form>
    </div>
  </div>
</div>

{% for message in messages %}
  <li>{{message}}</li>
{% endfor %}
{% endblock %}
