{% extends 'base.html' %}
{% load django_tables2 %}
<!---{% load bootstrap4 %}-->

{% block content %}

<!--
  <table class="table table-striped table-condensed" data-toggle="table"
  data-show-columns="true" data-show-toggle="true" data-search="true"
  data-search-align="left">
-->
  {% if filter %}
    <div class="row ">
      <div class="col-md-2">
        <div class="card card-body">
          <h5 style="text-align: left; margin: 1px;"><i class="fas fa-car"></i>
            {% if roadnetwork %}
              <a href="{% url 'network_details' roadnetwork.pk %}">{{roadnetwork}}</a>
            {% endif %}

            {% if zoneset %}
              <a href="{% url 'zoneset_details' zoneset.pk %}">{{zoneset}}</a>
            {% endif %}

            {% if od_matrix %}
              <a href="{% url 'od_matrix_details' od_matrix.pk %}">{{od_matrix}}</a>
              {% endif %}

            {% if population %}
              <a href="{% url 'population_details' population.pk %}">{{population}}</a>
            {% endif %}
          </h5>
        </div>
      </div>

      <div class="col-md-10 filter-table"">
        <form class="filter" method="get" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            {% for field in filter.form %}
            <div class="col-2">
              {{field}}
            </div>
            {% endfor %}

            <div class="col">
              <button type="submit" class="btn btn-success">filter</button>
              {% if network_attribute == 'edges' %}
                <a role="button" class="btn btn-primary" href="{% url 'edges' roadnetwork.pk %}" >reset</a>

              {% elif network_attribute == 'nodes' %}
                <a role="button" class="btn btn-primary" href="{% url 'nodes' roadnetwork.pk %}" >reset</a>

              {% elif network_attribute == 'roadtype' %}
                <a role="button" class="btn btn-primary" href="{% url 'roadtable' roadnetwork.pk %}" >reset</a>

              {% elif network_attribute == 'zones' %}
                  <a role="button" class="btn btn-primary" href="{% url 'zones' zoneset.pk %}" >reset</a>

              {% elif network_attribute == 'odpair' %}
                <a role="button" class="btn btn-primary" href="{% url 'od_pair' od_matrix.pk %}" >reset</a>

              {% elif network_attribute == 'agent' %}
                <a role="button" class="btn btn-primary" href="{% url 'agent_table' population.pk %}" >reset</a>

              {% elif network_attribute == 'zone_node_relation' %}
                <a role="button" class="btn btn-primary" 
                  href="{% url 'zone_node_relation_table' network.pk %}" >reset</a>
              
              {% elif network_attribute == 'vehicle' %}
                <a role="button" class="btn btn-primary" 
                  href="{% url 'vehicle_table' project.pk %}" >reset</a>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>

  {% endif %}

  <!--- render_table prevent us doing a loop --->
  {% render_table table 'django_tables2/bootstrap4.html' %}

  {% if roadnetwork %}
    <a href="{% url 'road_network_details' roadnetwork.pk %}">Back</a>
  {% elif zoneset %}
    <a href="{% url 'zoneset_details' zoneset.pk %}">Back</a>
  {% elif od_matrix %}
    <a href="{% url 'list_of_od_matrix' od_matrix.project_id %}">Back</a>
  {% elif preferences %}
    <a href="{% url 'list_of_preferences' preferences.project_id %}">Back</a>
  {% elif population %}
    <a href="{% url 'population_details' population.project_id %}">Back</a>
  {% elif network %}
    <a href="{% url 'network_details' network.pk %}">Back</a>
  
    {% elif vehicle %}
    <a href="{% url 'project_details' project.pk %}">Back</a>
  {% elif run %}
    <a href="{% url 'list_of_runs' run.project_id %}">Back</a>
  {% endif %}

{% endblock %}
